//! **************************************************************************
// Written by: Map P.20131013 on Mon May 13 15:12:01 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "AH15" LEVEL 1;
SCHEMATIC END;

